fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1


python-dotenv

pydantic
pydantic-settings

alembic

email-validator

requests

openai

jinja2
python-multipart