<!DOCTYPE html>
<html>
<head>
    <title>CyberGuard AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="nav">
    <h1>CyberGuard AI</h1>
    <div>Security Intelligence Platform</div>
</div>

<div class="container">

    <div class="card">
        <h2>Analiza URLs sospechosas con IA</h2>
        <p style="color:#9aa4b2;margin-top:10px">
            Detecta phishing, malware y dominios maliciosos en segundos
        </p>

        <a href="/login">
            <button>Entrar</button>
        </a>
        <a href="/register">
            <button>Registrarse</button>
        </a>
    </div>

</div>

</body>
</html>