<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="nav">
    <h1>CyberGuard AI</h1>
</div>

<div class="container">

    <div class="card" style="max-width:400px;margin:auto">

        <h2>Login</h2>

        <input id="username" placeholder="Email">
        <input id="password" type="password" placeholder="Password">

        <button onclick="login()">Login</button>

        <p id="error" style="color:red;margin-top:10px"></p>

    </div>

</div>

<script>
async function login() {

    const email = document.getElementById("username").value
    const password = document.getElementById("password").value

    const res = await fetch("/auth/login", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({ email, password })
    })

    const data = await res.json()

    if (data.access_token) {
        localStorage.setItem("token", data.access_token)
        window.location.href = "/dashboard"
    } else {
        document.getElementById("error").innerText = data.detail
    }
}
</script>

</body>
</html>